---
const { href, me = false } = Astro.props;

let rel = "noopener noreferrer";
if (me) {
  rel += " me";
}
---

<a
  href={href}
  rel={rel}
  target="_blank"
  class="flex flex-row items-center gap-1 text-zinc-600 transition-colors duration-75 ease-in-out hover:text-sky-600 dark:text-zinc-300"
>
  <span class="hover:underline"><slot /></span>
  <span aria-hidden>↗</span>
</a>
